/* MAIN */
@media (max-width: 430px) {
    [class*="__container"] {
        padding: 0 10px;
    }
}
/* /MAIN */
/* ----------------------------------------------------- */
/* HEADER__SECTION */
.burger-menu {
    display: none;
    opacity: 0;
    pointer-events: none;
}
body._lock {
    overflow: hidden;
}
@media (max-width: 769px) {
    .nav__links {
        width: 400px;
    }
    .nav-link {
        text-wrap: nowrap;
    }
}

@media (max-width: 430px) {
    .header {
        height: 100px;
    }
    .nav-logo {
        transform: scale(0.8);
    }
    .nav-link {
        font-size: 16px;
    }
    .burger-menu {
        display: block;
        position: relative;
        opacity: 1;
        pointer-events: all;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
        overflow: hidden;
    }
    .burger-menu::after,
    .burger-menu::before,
    .burger-menu span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--primary-color);
    }
    .burger-menu::after,
    .burger-menu::before {
        content: "";
    }
    .burger-menu::before {
        top: 0;
        left: 0;
    }
    .burger-menu::after{
        bottom: 0;
        left: 0;
    }
    .burger-menu span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }
    .burger-menu._active {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger-menu._active::after {
        transform: translate(50%,0);
        bottom: 0%;
    }
    .nav__logo {
        z-index: 1000;
    }
    .nav__links {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100% !important;
        height: 100%;
        background-color: black;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .nav__links._active {
        left: 0;
        width: 100% !important;
    }
    .nav-links {
        width: 100% !important;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 25px;
    }
    .nav-link {
        font-size: 30px;
        margin-bottom: 15px;
    }
}
/* /HEADER__SECTION */
/* ----------------------------------------------------- */
/* MAIN__SECTION */
@media (max-width: 640px) {
    .main-title {
        text-wrap: wrap;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 0;
    }
    .main-text {
        line-height: 2;
    }
}
/* /MAIN__SECTION */
/* ----------------------------------------------------- */
/* ABOUT__SECTION */
@media (max-width: 768px) {
    .about__section {
        margin-top: 0;
    }
    .about-text {
        text-align: left;
        letter-spacing: normal;
    }
    .about-title {
        letter-spacing: 2px;
        text-align: left;
    }
}
/* /ABOUT__SECTION */
/* ----------------------------------------------------- */
/* CHAMPIONS__SECTION */
@media (max-width: 768px) {
    .champions__section {
        margin-top: 100px;
    }
    .subtitle-text {
        text-align: left;
        letter-spacing: normal;
    }
    .champions__title {
        margin-bottom: 15px;
        width: 100%;
    }
    .champions-title {
        letter-spacing: 2px;
    }
}
/* /CHAMPIONS__SECTION */
/* ----------------------------------------------------- */
/* SWIPER-SECTION */
@media (max-width: 769px) {
    .champions__swiper {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .swiper__title {
        align-self: start;
    }
    .swiper-title {
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    .swiper-text {
        max-width: 600px;
        letter-spacing: normal;
    }
    .swiper {
        width: 250px;
        height: 350px;
        margin-top: 15%;
    }
    /* ---------------------- */
    .card-text {
        font-size: 12px;
    }
    .card-title {
        font-size: 20px;
    }
    .swiper-bg {
        justify-content: center;
        align-items: center;
    }
    .block-1 {
        top: 0;
        left: 0;
        right: 0;
        filter: brightness(0.6);
    }
}
@media (max-width: 430px) {
    .block-1 {
        top: 45%;
    }
}
/* /SWIPER-SECTION */
/* ----------------------------------------------------- */
/* LAST-SECTION */
@media (max-width: 769px) {
    .last__section {
        margin-bottom: 100px;
    }
    .last__end {
        margin-top: 15%;
    }
    .last-title {
        text-align: left;
        letter-spacing: 2px;
        line-height: 1.3;
    }
    .last-text {
        text-align: left;
        letter-spacing: normal;
        line-height: 1.2;
    }
    .last-icons {
        justify-content: center;
        max-width: 400px;
        gap: 20%;
    }
    .last-icon {
        width: 150px;
        height: 150px;
        margin-bottom: 15%;
    }
}
/* /LAST-SECTION */
/* /FOOTER-SECTION */
@media (max-width: 430px) {
    .footer-title {
        text-align: left;
        letter-spacing: 0.5px;
    }
    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 0 0 !important;
    }
    .thank {
        margin-bottom: 150px;
    }
}
/* /FOOTER-SECTION */