.champions__section {
    margin-top: 300px;
}
.champions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    position: relative;
}
.champions__title {
    margin-bottom: 50px;
}
.champions-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(2.5rem, 1.429rem + 5.357vw, 6.25rem);
    line-height: 1.5;
    letter-spacing: 10px;
}
.champions__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.subtitle-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    line-height: 1.4;
    letter-spacing: 0.5px;
    max-width: 800px;
}
.subtitle-text span {
    font-size: 30px;
    font-weight: 700;
}
.subtitle__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 35px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-1 {background: url('../source/img/warlords/corporation.webp');}
.slide-2 {background: url('../source/img/warlords/cult.webp');}
.slide-3 {background: url('../source/img/warlords/empire.webp');}
.slide-4 {background: url('../source/img/warlords/guardian.webp');}
.slide-5 {background: url('../source/img/warlords/kingdom.webp');}
.slide-6 {background: url('../source/img/warlords/tribes.webp');}
.slide-7 {background: url('../source/img/warlords/undying.webp');}
.card__title {
    display: flex;
    width: 100%;
    justify-content: center;
}
.card-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    transition: opacity 0.3s ease, transform 0.3s ease-in;
    flex-wrap: nowrap;
    opacity: 0;
}
.card__text {
    width: 100%;
}
.card-text {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease;
}
.card:hover .card-text {
    transition: opacity 0.3s ease;
    opacity: 1;
    animation: card-text 0.3s ease-out;
}
.card:hover .card-title {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease-out;
    transform: translate(0, -30%);
} 
.card-link {
    margin-top: 25px;
}
/* ----------------------------------------------------- */
@keyframes card-text {
    from {
        transform: translate(0, 5%);
    }
    to {
        transform: translate(0, 0);
    }
}
/* ----------------------------------------------------- */
/* swiper */
.swiper__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 350px;
    height: 500px;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swiper-wrapper {
    position: relative;
    height: 100%;
}
.swiper-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20%;
    margin-top: 5%;
}
.swiper-button-1 svg{
    transform: rotate(-90deg);
}
.swiper-button-2 svg{
    transform: rotate(90deg);
}
.swiper-button-disabled {
    filter: brightness(0.5);
}
.swiper-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -1;
}
.swiper-block {
    background-color: rgba(124,182,35,0.5);
    position: absolute;
    transition: all 0.3s ease 0s;
}
.block-1 {
    left: -20%;
    top: 0;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 100px 200px rgba(124,182,35,0.5);
    border-radius: 50%;
}
.block-2 {}
.block-3 {}
.block-4 {}
.block-5 {}
.block-6 {}
.block-7 {}
.champions__swiper {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.swiper__title {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    z-index: 100;
    align-items: center;
}
.swiper-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(2.5rem, 1.429rem + 5.357vw, 6.25rem);
    line-height: 1.2;
    letter-spacing: 6px;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.swiper-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.swiper-slide {
    width: 350px;
    height: 500px;
    background-size: cover;
    position: relative;
}