.footer {
    height: 150px;
    width: 100%;
    border-top: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
}
.footer__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer__title {
    display: flex;
}
.footer-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(1.5rem, 1.214rem + 1.429vw, 2.5rem);
    letter-spacing: 4px;
}