.footer {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer__title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(2.5rem, 2.321rem + 0.893vw, 3.125rem);
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-title span {
    font-size: clamp(1.625rem, 1.375rem + 1.25vw, 2.5rem);
}
/* ----------------------------------------------------- */
.footer-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0 10%;
}
.footer-x,
.footer-discord {
    display: flex;
    align-items: center;
}
.footer-x a,
.footer-discord a {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
.footer-discord svg,
.footer-x svg {
    transition: filter 0.3s ease 0s;
}
.footer-x:hover svg,
.footer-discord:hover svg {
    filter: drop-shadow(0 0 5px white);
    transition: filter 0.3s ease 0s;
}