.last__section {
    margin-top: 300px;
    margin-bottom: 400px;
}
.last__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last__title {
    display: flex;
    width: 100%;
}
.last-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(2.5rem, 1.429rem + 5.357vw, 6.25rem);
    line-height: 1.5;
    letter-spacing: 4px;
    text-align: center;
}
.last__main {
    margin-top: 50px;
    max-width: 800px;
}
.last-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
}
.last-text span {
    font-weight: 700;
    font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
}
.last__end {
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.last-icon {
    width: clamp(6.25rem, 5.357rem + 4.464vw, 9.375rem);
    height: clamp(6.25rem, 5.357rem + 4.464vw, 9.375rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.icon-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-3::after {
    content: "Only gas fees apply";
    position: absolute;
    top: 100%;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    text-wrap: nowrap;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.icon-3:hover::after{
    transition: opacity 0.5s ease;
    opacity: 1;
}
.last-icon svg {
    margin-bottom: 5%;
} 
.icon-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    text-wrap: nowrap;
}
.last-icon:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}
